{% extends 'base.html' %}
{% load sass_tags martortags %}

{% block title %}Блог{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% sass_src 'blog/scss/main.scss' %}">
{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
  <div class="blog blog-list">
    <h1 class="blog-list__header">Блог</h1>
    {% for post in posts %}
      <article class="post-preview">
        <h2 class="post-preview__title">
          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
        {% if post.image %}
          <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-preview__image">
        {% endif %}
        <p class="post-preview__excerpt">{{ post.content|truncatewords:30|safe_markdown }}</p>
        <p class="post-preview__date">{{ post.created_at }}</p>
      </article>
    {% empty %}
      <p class="blog-list__empty">Нет постов.</p>
    {% endfor %}
  </div>
{% endblock %}