{% extends 'base.html' %}
{% load static martortags %}

{% block title %}{{ post.title }}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
  <div class="post-detail">
    <h1 class="post-detail__title">{{ post.title }}</h1>
      {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-preview__image">
      {% endif %}
    <div class="post-detail__content">{{ post.content|safe_markdown }}</div>

    <a href="javascript:history.back()" class="post-detail__back-link">← Вернуться обратно</a>

  </div>
{% endblock %}