// Подключаем ГЛОБАЛЬНЫЕ файлы (из корня static/)

@use '/scss/abstracts/variables';  // ← Путь /scss/... означает: от корня папки static/, а не от текущего файла.
@use '/scss/base/reset';

// Подключаем свои стили
@use 'pages/word_detail';