# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.techeng/
techeng/


# Database
db.sqlite3
*.sqlite3

# Local settings & secrets
.eng
*.local
local_settings.py

/eng/eng/settings.py

# Media & static files (if local)
/media/
/static/

# Logs & temporary files
*.log
*.tmp
*.cache

# IDE files
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/
