.privacy-page {
  padding: #{fluid(64, 40)} 0;

  &__title {
    @include fluid-text(48, 32);
    text-align: center;
    margin-bottom: #{fluid(40, 28)};
    color: $text-color;
    font-weight: 700;
  }

  &__content {
    max-width: 720px;
    margin: 0 auto;
    line-height: 1.6;
    color: $text-light;
  }

  &__subtitle {
    @include fluid-text(25, 22);
    margin: #{fluid(32, 24)} 0 #{fluid(16, 12)} 0;
    color: $text-color;
    font-weight: 600;
  }

  &__paragraph {
    margin-bottom: #{fluid(20, 16)};
    font-size: #{fluid(18, 16)};
  }

  &__link {
    color: $primary-color;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  &__footer {
    margin-top: #{fluid(32, 24)};
    text-align: center;
    font-style: italic;
    color: $text-light;
  }
}