{% extends 'base.html' %}
{% load sass_tags %}

{% block title %}Поиск слова{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% sass_src 'vocabulary/scss/pages/style.scss' %}">
{% endblock %}

{% block content %}
    <h1>Найди слово на английском</h1>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <input type="text" name="query" placeholder="Введите слово..." value="{{ query|default:'' }}">
        <button type="submit">Найти</button>
    </form>
{% endblock %}