{% extends 'base.html' %}    <!-- наследуем от глобального шаблона. -->
{% load word_highlight %}    <!-- загружаем свой фильтр  -->
{% load sass_tags %}

{% block title %}{{ word.word_en }}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% sass_src 'vocabulary/scss/main.scss' %}">
{% endblock %}

{% block content %}
    <h1>{{ word.word_en }}</h1>
    <p class="translation">({{ word.translation_ru }})</p>

    <!-- Фразы -->
    <div class="section">
        <h2>Фразы</h2>
        {% if word.get_phrases %}
            <table class="examples-table">
                <thead><tr><th>Английский</th><th>Перевод</th></tr></thead>
                <tbody>
                    {% for phrase in word.get_phrases %}
                        <tr>
                            <td class="en">{{ phrase.example_en|highlight_word:word.word_en }}</td>     <!-- используем свой фильтр  -->
                            <td class="ru">{{ phrase.translation_ru }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="no-data">Нет фраз.</p>
        {% endif %}
    </div>

    <!-- Тексты -->
    <div class="section">
        <h2>Тексты</h2>
        {% if word.get_texts %}
            <table class="examples-table">
                <thead><tr><th>Английский</th><th>Перевод</th></tr></thead>
                <tbody>
                    {% for text in word.get_texts %}
                        <tr>
                            <td class="en">{{ text.example_en|highlight_word:word.word_en }}</td>
                            <td class="ru">{{ text.translation_ru }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="no-data">Нет текстов.</p>
        {% endif %}
    </div>

    <a href="{% url 'vocabulary:search' %}" class="back-link">← Назад к поиску</a>
{% endblock %}