{% load static %} <!-- загружаем статичческие шаблонные теги (static) -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title> <!-- сами вставляем тайтл -->
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <header class="site-header">
        <div class="container">
        <h1>Tech. eng</h1>
        <nav>
            <a href="#">Main</a>
            <a href="#">About us</a>
            <a href="#">Contact</a>
        </nav>
        </div>
    </header>

    <div class="content">
        {% block content %} # вставляем контент
        {% endblock %}
    </div>

    <footer class="site-footer">
        <div class="container">
        <p>&copy; 2025 Мой сайт. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>